body{

	background-color:#7AD9DC;

}


.page-header{

	color:#FFF;
}

.col-centered{
    float: none;
    margin: 0 auto;

}

.column-title{
	
	margin-left:10px;
	color:white;
	font-size: 35px;
}

.column-title-container{
	margin-bottom:20px;
}
.task{
	margin-bottom:10px;
	border-radius: 15px;
	border-style:solid;
	border-color:black;
	background-color:white;
}
.task-text{
	font-size: 25px;
	color:black;
}